.profile-page-root {
  display: flex;
  max-width: 1300px;
  margin: auto;
}

.profile-page-side-div {
  max-width: 215px;
  padding: 15px;
  position: sticky;
  top: 5px;
  height: min-content;
}

.profile-page-side-div h2 {
  text-align: center;
}

.sidebar {
  border-style: solid;
}

.sidebar button {
  padding: 15px;
  width: 100%;
  border-style: none;
  background: white;
  font-size: medium;
  transition: background-color 0.3s ease;
}

.active {
  background: rgb(220, 220, 220) !important;
}

.sidebar button:hover {
  background: rgb(185, 185, 185) !important;
}

@media only screen and (max-width: 900px) {
  .profile-page-side-div {
    max-width: 170px;
    padding: 10px;
  }

  .profile-page-side-div h2 {
    font-size: 20px;
  }

  .sidebar button {
    padding: 10px;
    font-size: small;
  }
}

@media only screen and (max-width: 500px) {
  .profile-page-root {
    display: grid;
  }

  .sidebar {
    display: flex;
  }

  .profile-page-side-div {
    position: relative;
    max-width: none;
    padding: 6px;
  }

  .profile-page-side-div h2 {
    font-size: 12px;
  }

  .sidebar button {
    padding: 10px;
    font-size: x-small;
  }
}
