.main-header {
  background-color: rgb(35, 35, 35);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.profile-button-container,
.home-button-container,
.log-in-sign-up-container {
  display: flex;
  align-items: center;
}

.profile-button-container {
  flex: 1;
  justify-content: flex-start;
}

.home-button-container {
  flex: 1;
  justify-content: center;
}

.log-in-sign-up-container {
  flex: 1;
  justify-content: flex-end;
}

.log-in-button,
.home-button {
  background: none;
  color: white;
  transition: color 0.3s ease;
}

.profile-button {
  background: white;
  color: rgb(35, 35, 35);
  transition: color 0.3s ease;
  border-radius: 50%;
}

.home-button {
  font-size: 34px !important;
}

.log-in-button:hover,
.home-button:hover {
  color: rgb(184, 184, 184);
}

.profile-button:hover {
  background-color: rgb(184, 184, 184);
  transition: background-color 0.3s ease;
}

.sign-in-button {
  background-color: white;
  border-radius: 25px;
  transition: background-color 0.3s ease;
}

.sign-in-button:hover {
  background-color: rgb(184, 184, 184);
}

.sign-in-button,
.log-in-button,
.home-button {
  padding: 10px;
  font-size: large;
  border-style: none;
}

.profile-button {
  padding: 10px;
  font-size: 30px;
}

.sign-in-button,
.log-in-button {
  margin: 15px;
}

.log-in-sign-up-container p,
.clip-loader {
  color: white;
  margin-left: 15px;
}

@media only screen and (max-width: 900px) {
  .main-header {
    height: 50px;
  }

  .home-button {
    font-size: 24px !important;
  }

  .sign-in-button,
  .log-in-button {
    font-size: small;
  }

  .profile-button {
    padding: 8px;
    font-size: 22px;
  }

  .log-in-sign-up-container p {
    font-size: small;
  }

  .clip-loader {
    scale: 0.7;
  }
}

@media only screen and (max-width: 500px) {
  .main-header {
    height: 35px;
  }

  .home-button {
    font-size: 18px !important;
    margin-top: -4px;
  }

  .sign-in-button,
  .log-in-button,
  .home-button {
    font-size: xx-small;
    padding: 6px;
  }

  .profile-button {
    padding: 6px;
    font-size: 14px;
  }

  .sign-in-button,
  .log-in-button {
    margin: 8px;
  }

  .log-in-sign-up-container p,
  .clip-loader {
    margin-left: 0;
  }

  .log-in-sign-up-container p {
    font-size: xx-small;
  }

  .clip-loader {
    scale: 0.4;
  }
}
