.li-profile-item {
  display: grid;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 5px;
  margin: 15px;
  border-radius: 15px;
  position: relative;
}

.li-profile-item:hover {
  box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
}

.item-image {
  margin: 10px;
  width: 200px;
  height: 300px;
  border-radius: 15px;
}

.my-rating-div {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.rating-span {
  font-size: 25px;
  font-weight: bold;
  margin-left: 8px;
}

.star-img {
  color: #ffd700;
  width: 30px;
  height: 30px;
}

.star-img:hover {
  cursor: pointer;
  filter: brightness(115%);
}

.remove-item-button {
  color: white;
  background: #b12b2b;
  margin-left: 15px;
  font-size: 18px;
  padding: 4px;
  border: 1px solid #a33a3a;
  border-radius: 10px;
}

.remove-item-button:hover {
  background: #da0e0e;
}

.info-item-button {
  background: white;
  border: 1px solid black;
  font-size: 20px;
  padding-right: 13px;
  padding-left: 13px;
  border-radius: 55px;
  margin-left: 15px;
}

.info-item-button:hover {
  background: rgb(204, 204, 204);
}

@media only screen and (max-width: 900px) {
  .li-profile-item {
    margin: 10px;
  }

  .my-rating-div {
    align-items: center;
  }

  .item-image {
    margin: 8px;
    width: 135px;
    height: 202px;
  }

  .rating-span {
    font-size: 15px;
    margin-left: 5px;
  }

  .star-img {
    color: #ffd700;
    width: 20px;
    height: 20px;
  }

  .remove-item-button {
    margin-left: 8px;
    font-size: 12px;
    padding: 4px;
    border-radius: 10px;
  }

  .info-item-button {
    font-size: 12px;
    padding-right: 7px;
    padding-left: 7px;
    border-radius: 10px;
    margin-left: 8px;
  }
}

@media only screen and (max-width: 500px) {
  .li-profile-item {
    margin: 5px;
  }

  .item-image {
    margin: 6px;
    width: 100px;
    height: 150px;
  }

  .rating-span {
    font-size: 10px;
    margin-left: 4px;
  }

  .star-img {
    color: #ffd700;
    width: 12px;
    height: 12px;
  }

  .remove-item-button {
    margin-left: 5px;
    font-size: 7px;
    padding: 4px;
    border-radius: 8px;
  }

  .info-item-button {
    font-size: 8px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 10px;
    margin-left: 8px;
  }
}
